<h1> About </h1>
<p>
	<%= link_to "Tyler Is A Boss", "http://tylerisaboss.com" %>
	is a project to teach
	<%= link_to "Ruby on Rails", "http://rubyonrails.org" %>
	in one month. This is a sample application to show that Tyler is in fact a boss.
</p>

